html {
    border: none;
}

body {
    background: radial-gradient(ellipse at top, #dd9f9f, transparent), 
                radial-gradient(ellipse at bottom, #b8ef8a, transparent);
    background-repeat: no-repeat;
    border: none;
}

.device {
    background-color: rgb(30, 30, 30);
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 10px;
}

.menu {
    flex: 0 0 80px;
    padding-top: 10px;
    max-height: 80px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.menu > * {
    border: 1px solid white;
    flex: 1;
    background-color: black;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 0 10px;
    border-radius: 5px;
}

.user-input {
    text-align: right;
}

.user-input::-webkit-outer-spin-button,
.user-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.user-input {
    -moz-appearance: textfield;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    width: 360px;
}

.bottom {
    padding-bottom: 0px;
}

.row > button {
    flex: 1;
    max-width: 74px;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
}

button.AC,
button.DEL {
    flex: 1 1 120px;
    max-width: 120px;
}

button.zero {
    flex: 1 1 174px;
    max-width: 174px;
}
